In [5]:
import os #Manipulação de arquivos
import pandas as pd #Biblioteca popular do Python para ETL(Ciencia de Dados)
import chardet as cd #Identifica a codificação do código

from datetime import date #Biblioteca para manipuação de data e hora
from datetime import datetime #Biblioteca para manipuação de data e hora

import pymysql as pmy ##É uma biblioteca em Python que permite conectar-se a um banco de dados Mysql/MariaDB/Aurora

data_e_hora_atuais = datetime.now() #Função que retorna a data e hora atual
data_e_hora_em_texto = data_e_hora_atuais.strftime('%d/%m/%Y %H:%M') #Formatando data e hora em texto 
print('inicio do processamento...'+ data_e_hora_em_texto + '\n')


diretorio_atual = os.getcwd() #Estrutura para localizar a pasta atual que estamos executando
print(diretorio_atual)

inicio do processamento...17/09/2023 16:02

C:\Users\HOME\JupyterAulaoMarcinho

In [6]:
#Variaveis para manipulação do(s) arquivo(s) em CSV
pasta = 'C:\\Users\\HOME\\Downloads\\Aulão_Marcinho\\21082023\\' #Caminho do arquivo
arquivo = 'FolhaPag.csv' #Nome do arquivo
csv = pasta + arquivo
meus_dados = pd.read_csv(csv, encoding='Windows-1252')

##Estrtura de contexto para abrir o(s) arquivo(s) CSV e identificar codificação de caracteres

with open(csv, 'rb') as arq:
    codificado_com = cd.detect(arq.read())
    
print(codificado_com['encoding'])
print(str(type(codificado_com)))
tipo_codificado = str(codificado_com['encoding'])

#Abrindo o(s) arquivo(s) CSV com Pandas
#Parametrizando tipo de dado universal
#codificação conforme identificado acima na variavel tipo_codificado

meus_dados = pd.read_csv(csv, sep=';', dtype='unicode', encoding = 'Windows-1252')

#1° tentatiava: 
#meus_dados = meus_dados.applymap(lambda x: x.encode('Windows-1252').decode('ascii', 'ignore') if isinstance(x, str) else x)
#2° tentativa:
meus_dados.to_csv(pasta+"FolhaPag3.csv", encoding= 'Windows-1252', index = False)
data_e_hora_atual = datetime.now()
data_e_hora_atual_em_texto = data_e_hora_atual.strftime('%d/%m/%y %H:%M')
print('final do processamento...'+ data_e_hora_atual_em_texto)

Windows-1252
<class 'dict'>
final do processamento...17/09/23 16:03

In [7]:
meus_dados.head()

,Unnamed: 0,Nome,Nascimento,Sal rio,Filhos,Ativo,UF,email,FGTS,13Sal,F‚rias,CestaB sica,AjudaCusto
0,0,Zacarias Vieira,30/04/1967,"6873,72",2,VERDADEIRO,MS,sem email,"601,4505","572,81","2291,24",450,0
1,1,Ana da Gomes,08/08/1966,"10744,1",5,VERDADEIRO,MG,sem email,"940,10875","895,3416667","3581,37",1125,0
2,2,Bruno Cardoso Filha,04/12/1989,"14647,7",3,VERDADEIRO,BA,nÆo confirmado,"1281,67375","1220,641667","4882,57",675,0
3,3,JoÆo Martins,22/05/1953,"7819,52",5,FALSO,RN,sem email,"684,208","651,6266667","2606,51",1125,0
4,4,Carla Martins,19/05/1984,"17444,58",0,FALSO,PE,sem email,"1526,40075","1453,715","5814,86",225,0

In [5]:
#Lista de caracteres especiais ã
char = '‡'
unicode_value = ord(char)
print(unicode_value)

char= 'ç'
unicode_value = ord(char)
print(unicode_value)

char = 198
unicode_value = chr(char)
print(unicode_value)

for ascii_value in range(127):
    char = chr(ascii_value)
    print(f'valor ascii: {ascii_value}) - Caractere: {char}')

8225
231
Æ
valor ascii: 0) - Caractere:  
valor ascii: 1) - Caractere: 
valor ascii: 2) - Caractere: 
valor ascii: 3) - Caractere: 
valor ascii: 4) - Caractere: 
valor ascii: 5) - Caractere: 
valor ascii: 6) - Caractere: 
valor ascii: 7) - Caractere: 
valor ascii: 8) - Caractere: 
valor ascii: 9) - Caractere:
valor ascii: 10) - Caractere:

valor ascii: 11) - Caractere:
valor ascii: 12) - Caractere:
valor ascii: 13) - Caractere:
valor ascii: 14) - Caractere: 
valor ascii: 15) - Caractere: 
valor ascii: 16) - Caractere: 
valor ascii: 17) - Caractere: 
valor ascii: 18) - Caractere: 
valor ascii: 19) - Caractere: 
valor ascii: 20) - Caractere: 
valor ascii: 21) - Caractere: 
valor ascii: 22) - Caractere: 
valor ascii: 23) - Caractere: 
valor ascii: 24) - Caractere: 
valor ascii: 25) - Caractere: 
valor ascii: 26) - Caractere: 
valor ascii: 27) - Caractere: 
valor ascii: 28) - Caractere:
valor ascii: 29) - Caractere:
valor ascii: 30) - Caractere:
valor ascii: 31) - Caractere:
valor ascii: 32) - Caractere:
valor ascii: 33) - Caractere: !
valor ascii: 34) - Caractere: "
valor ascii: 35) - Caractere: #
valor ascii: 36) - Caractere: $
valor ascii: 37) - Caractere: %
valor ascii: 38) - Caractere: &
valor ascii: 39) - Caractere: '
valor ascii: 40) - Caractere: (
valor ascii: 41) - Caractere: )
valor ascii: 42) - Caractere: *
valor ascii: 43) - Caractere: +
valor ascii: 44) - Caractere: ,
valor ascii: 45) - Caractere: -
valor ascii: 46) - Caractere: .
valor ascii: 47) - Caractere: /
valor ascii: 48) - Caractere: 0
valor ascii: 49) - Caractere: 1
valor ascii: 50) - Caractere: 2
valor ascii: 51) - Caractere: 3
valor ascii: 52) - Caractere: 4
valor ascii: 53) - Caractere: 5
valor ascii: 54) - Caractere: 6
valor ascii: 55) - Caractere: 7
valor ascii: 56) - Caractere: 8
valor ascii: 57) - Caractere: 9
valor ascii: 58) - Caractere: :
valor ascii: 59) - Caractere: ;
valor ascii: 60) - Caractere: <
valor ascii: 61) - Caractere: =
valor ascii: 62) - Caractere: >
valor ascii: 63) - Caractere: ?
valor ascii: 64) - Caractere: @
valor ascii: 65) - Caractere: A
valor ascii: 66) - Caractere: B
valor ascii: 67) - Caractere: C
valor ascii: 68) - Caractere: D
valor ascii: 69) - Caractere: E
valor ascii: 70) - Caractere: F
valor ascii: 71) - Caractere: G
valor ascii: 72) - Caractere: H
valor ascii: 73) - Caractere: I
valor ascii: 74) - Caractere: J
valor ascii: 75) - Caractere: K
valor ascii: 76) - Caractere: L
valor ascii: 77) - Caractere: M
valor ascii: 78) - Caractere: N
valor ascii: 79) - Caractere: O
valor ascii: 80) - Caractere: P
valor ascii: 81) - Caractere: Q
valor ascii: 82) - Caractere: R
valor ascii: 83) - Caractere: S
valor ascii: 84) - Caractere: T
valor ascii: 85) - Caractere: U
valor ascii: 86) - Caractere: V
valor ascii: 87) - Caractere: W
valor ascii: 88) - Caractere: X
valor ascii: 89) - Caractere: Y
valor ascii: 90) - Caractere: Z
valor ascii: 91) - Caractere: [
valor ascii: 92) - Caractere: \
valor ascii: 93) - Caractere: ]
valor ascii: 94) - Caractere: ^
valor ascii: 95) - Caractere: _
valor ascii: 96) - Caractere: `
valor ascii: 97) - Caractere: a
valor ascii: 98) - Caractere: b
valor ascii: 99) - Caractere: c
valor ascii: 100) - Caractere: d
valor ascii: 101) - Caractere: e
valor ascii: 102) - Caractere: f
valor ascii: 103) - Caractere: g
valor ascii: 104) - Caractere: h
valor ascii: 105) - Caractere: i
valor ascii: 106) - Caractere: j
valor ascii: 107) - Caractere: k
valor ascii: 108) - Caractere: l
valor ascii: 109) - Caractere: m
valor ascii: 110) - Caractere: n
valor ascii: 111) - Caractere: o
valor ascii: 112) - Caractere: p
valor ascii: 113) - Caractere: q
valor ascii: 114) - Caractere: r
valor ascii: 115) - Caractere: s
valor ascii: 116) - Caractere: t
valor ascii: 117) - Caractere: u
valor ascii: 118) - Caractere: v
valor ascii: 119) - Caractere: w
valor ascii: 120) - Caractere: x
valor ascii: 121) - Caractere: y
valor ascii: 122) - Caractere: z
valor ascii: 123) - Caractere: {
valor ascii: 124) - Caractere: |
valor ascii: 125) - Caractere: }
valor ascii: 126) - Caractere: ~

In [8]:
#removendo a coluna unnamed
# Verifique se a coluna existe no DataFrame
# Certifique-se de que o nome da coluna está exato
nome_coluna = "Unnamed: 0"

# Use o método drop para remover a coluna
if 'Unnamed: 0' in meus_dados.columns:
    meus_dados = meus_dados.drop(columns=['Unnamed: 0'])
else:
    print(f"A coluna {'Unnamed: 0'} não existe no DataFrame.")

meus_dados.head()

,Nome,Nascimento,Sal rio,Filhos,Ativo,UF,email,FGTS,13Sal,F‚rias,CestaB sica,AjudaCusto
0,Zacarias Vieira,30/04/1967,"6873,72",2,VERDADEIRO,MS,sem email,"601,4505","572,81","2291,24",450,0
1,Ana da Gomes,08/08/1966,"10744,1",5,VERDADEIRO,MG,sem email,"940,10875","895,3416667","3581,37",1125,0
2,Bruno Cardoso Filha,04/12/1989,"14647,7",3,VERDADEIRO,BA,nÆo confirmado,"1281,67375","1220,641667","4882,57",675,0
3,JoÆo Martins,22/05/1953,"7819,52",5,FALSO,RN,sem email,"684,208","651,6266667","2606,51",1125,0
4,Carla Martins,19/05/1984,"17444,58",0,FALSO,PE,sem email,"1526,40075","1453,715","5814,86",225,0

In [20]:
# Renomeando as colunas 'F‚rias' e 'Sal rio'
meus_dados = meus_dados.rename(columns={'F‚rias': 'Ferias'})
#retirando o espaço em branco da coluna 'Sal rio' e 'CestaB asica'
indice_coluna = 2
nome_atual = meus_dados.columns[2]
novo_nome = 'Salario'
meus_dados = meus_dados.rename(columns={nome_atual: novo_nome})
indice_coluna = 10
nome_atual = meus_dados.columns[10]
novo_nome = 'CestaBasica'
meus_dados = meus_dados.rename(columns={nome_atual: novo_nome})

meus_dados.head()

,Nome,Nascimento,Salario,Filhos,Ativo,UF,email,FGTS,13Sal,Ferias,CestaBasica,AjudaCusto
0,Zacarias Vieira,30/04/1967,"6873,72",2,VERDADEIRO,MS,sem email,"601,4505","572,81","2291,24",450,0
1,Ana da Gomes,08/08/1966,"10744,1",5,VERDADEIRO,MG,sem email,"940,10875","895,3416667","3581,37",1125,0
2,Bruno Cardoso Filha,04/12/1989,"14647,7",3,VERDADEIRO,BA,nÆo confirmado,"1281,67375","1220,641667","4882,57",675,0
3,JoÆo Martins,22/05/1953,"7819,52",5,FALSO,RN,sem email,"684,208","651,6266667","2606,51",1125,0
4,Carla Martins,19/05/1984,"17444,58",0,FALSO,PE,sem email,"1526,40075","1453,715","5814,86",225,0

In [21]:
print(meus_dados.columns)

Index(['Nome', 'Nascimento', 'Salario', 'Filhos', 'Ativo', 'UF', 'email',
       'FGTS', '13Sal', 'Ferias', 'CestaBasica', 'AjudaCusto'],
      dtype='object')

In [23]:
#somar as colunas salários e filhos
#Verifique as colunas
soma_salario = meus_dados['Salario'].str.replace(',' , '.').astype(float).sum()
soma_filhos = meus_dados['Filhos'].str.replace(',' , '.').astype(float).sum()

#somar as colunas salários, filhos e média por filho, somente de quem tem acima de 3 filhos

#soma_acima3 = meus_dados.query('Filhos >=3')['Sal rio'].sum()

print('Soma dos salários:', soma_salario)
print('Soma dos filhos:', soma_filhos)
print('Média salarios/Filhos:', soma_salario/soma_filhos)

Soma dos salários: 503701125.34
Soma dos filhos: 125278.0
Média salarios/Filhos: 4020.667039224764

In [24]:
#Verificar nulos
dados_nan = meus_dados[meus_dados.isna().any(axis=1)]
dados_nan.shape
dados_nan.head(50)

,Nome,Nascimento,Salario,Filhos,Ativo,UF,email,FGTS,13Sal,Ferias,CestaBasica,AjudaCusto
230,Larissa da Almeida Sobrinho,21/06/1975,"2928,66",4,FALSO,AM,NaN,"256,25775","244,055","976,22",900,0
465,JoÆo Menezes,02/12/1963,"6832,78",0,NaN,MT,sem email,"597,86825","569,3983333","2277,59",225,0
843,Larissa Vieira,NaN,"2139,31",0,FALSO,AL,nÆo confirmado,"187,189625","178,2758333","713,1",225,250
946,NaN,09/11/1977,"3242,24",3,FALSO,CE,sem email,"283,696","270,1866667","1080,75",675,0
1066,Ol¡via Ramos,20/05/1987,"13895,48",4,FALSO,GO,NaN,"1215,8545","1157,956667","4631,83",900,0
1300,Vitor das Santos,11/09/1980,"8031,34",NaN,VERDADEIRO,GO,sem email,"702,74225","669,2783333","2677,11",NaN,0
1331,Urbano Borges,17/08/1968,NaN,4,VERDADEIRO,SE,spamlistafirewall,NaN,NaN,NaN,900,0
1595,Gabriel Rodrigues,04/08/1991,"12602,34",5,NaN,RR,sem email,"1102,70475","1050,195","4200,78",1125,0
1994,Wesley Dias,25/10/1965,"9745,77",NaN,FALSO,SP,invalido,"852,754875","812,1475","3248,59",NaN,0
2034,Leonardo Vargas,08/07/1994,13670,5,FALSO,NaN,invalido,"1196,125","1139,166667","4556,67",1125,0
2521,NaN,11/04/1987,"10053,72",4,VERDADEIRO,AL,invalido,"879,7005","837,81","3351,24",900,0
2781,Tiago Andrade,09/01/1951,NaN,1,VERDADEIRO,TO,sem email,NaN,NaN,NaN,225,0
2837,Gustavus Pinto,03/02/1986,"18209,53",2,FALSO,NaN,invalido,"1593,333875","1517,460833","6069,84",450,0
3272,Yan Gon‡alves,03/09/1995,"8743,85",NaN,FALSO,AC,sem email,"765,086875","728,6541667","2914,62",NaN,0
3314,Zilda Lopes,08/01/2000,"6704,54",5,VERDADEIRO,PI,NaN,"586,64725","558,7116667","2234,85",1125,0
3461,Oscar Martinez,30/03/1961,"3140,49",NaN,VERDADEIRO,RO,sem email,"274,792875","261,7075","1046,83",NaN,0
3998,Vinicius Tavares,23/12/1997,"5433,61",3,FALSO,RR,NaN,"475,440875","452,8008333","1811,2",675,0
4227,JoÆo Ribeiro Neta,22/10/1997,NaN,1,VERDADEIRO,PE,spamlistafirewall,NaN,NaN,NaN,225,0
4369,Gabriel de Tavares,NaN,"6338,88",4,FALSO,PB,sem email,"554,652","528,24","2112,96",900,0
4789,Gabriel Ribeiro,NaN,"12776,98",0,FALSO,PA,invalido,"1117,98575","1064,748333","4258,99",225,0
4805,Leonardo Morais,24/10/1993,"17374,74",1,NaN,GO,sem email,"1520,28975","1447,895","5791,58",225,0
5145,Xuxa das MagalhÆes,03/03/1989,NaN,2,VERDADEIRO,PA,invalido,NaN,NaN,NaN,450,0
5223,Natalia Cruz Neta,27/03/1956,NaN,0,FALSO,BA,sem email,NaN,NaN,NaN,225,0
5743,NaN,23/08/1990,"17653,32",4,FALSO,AP,invalido,"1544,6655","1471,11","5884,44",900,0
5757,Hugo Cavalcanti,30/04/1969,NaN,5,FALSO,ES,spamlistafirewall,NaN,NaN,NaN,1125,0
5818,Yara Vieira,09/08/1996,"12456,56",2,VERDADEIRO,NaN,invalido,"1089,949","1038,046667","4152,19",450,0
6101,Hugo MagalhÆes,01/06/1993,"9964,95",0,VERDADEIRO,NaN,invalido,"871,933125","830,4125","3321,65",225,0
6435,Carla Rodrigues,10/11/1953,"6222,19",0,FALSO,NaN,sem email,"544,441625","518,5158333","2074,06",225,0
6713,Marcos Barros,11/04/1958,"5319,15",1,VERDADEIRO,RN,NaN,"465,425625","443,2625","1773,05",225,0
6828,Carla Lopes,NaN,"4919,56",2,VERDADEIRO,TO,sem email,"430,4615","409,9633333","1639,85",450,0
7222,Daniel Oliveira,14/06/1958,"14000,98",2,FALSO,NaN,nÆo confirmado,"1225,08575","1166,748333","4666,99",450,0
7810,Daniela Rodrigues,10/07/1965,NaN,0,FALSO,PB,nÆo confirmado,NaN,NaN,NaN,225,0
8053,NaN,16/01/1965,"15504,69",3,FALSO,RS,nÆo confirmado,"1356,660375","1292,0575","5168,23",675,0
8286,Daniel Mendes Neta,05/11/1990,"2574,61",4,FALSO,MT,NaN,"225,278375","214,5508333","858,2",900,0
8382,Yan Campos,NaN,"15499,16",5,FALSO,RO,sem email,"1356,1765","1291,596667","5166,39",1125,0
8510,Hugo Barbosa,NaN,"5794,55",2,VERDADEIRO,SE,sem email,"507,023125","482,8791667","1931,52",450,0
8570,Hugo Cruz,NaN,"15765,89",0,FALSO,PI,invalido,"1379,515375","1313,824167","5255,3",225,0
8622,Alice Melo Filha,12/09/1984,"3283,46",2,NaN,TO,sem email,"287,30275","273,6216667","1094,49",450,0
9009,Ol¡via Nunes,10/11/1981,"10971,5",NaN,VERDADEIRO,RJ,sem email,"960,00625","914,2916667","3657,17",NaN,0
9082,NaN,25/07/1998,"6888,74",5,FALSO,AC,sem email,"602,76475","574,0616667","2296,25",1125,0
9140,Urbano Ramos Sobrinha,04/03/1990,"5623,44",5,VERDADEIRO,MA,NaN,"492,051","468,62","1874,48",1125,0
9260,Gabriel Duarte,04/09/1980,NaN,2,VERDADEIRO,SP,nÆo confirmado,NaN,NaN,NaN,450,0
9933,Paulo da Cardoso,06/07/1982,"7000,37",5,FALSO,MG,NaN,"612,532375","583,3641667","2333,46",1125,0
10041,Hugo MagalhÆes,NaN,"1466,52",1,VERDADEIRO,CE,sem email,"128,3205","122,21","488,84",225,250
10130,Camila Lima,NaN,"3761,33",3,FALSO,PR,sem email,"329,116375","313,4441667","1253,78",675,0
10793,Natalia Borges,NaN,"8589,07",5,VERDADEIRO,PI,sem email,"751,543625","715,7558333","2863,02",1125,0
11279,NaN,07/08/1988,"16846,01",0,VERDADEIRO,MT,sem email,"1474,025875","1403,834167","5615,34",225,0
11314,Rafael Monteiro,02/01/1960,"2318,71",2,NaN,RO,nÆo confirmado,"202,887125","193,2258333","772,9",450,250
11634,Helena Rodrigues,15/01/1973,"6471,4",4,NaN,AM,invalido,"566,2475","539,2833333","2157,13",900,0
12129,Sofia Monteiro,25/11/1993,"4015,48",0,VERDADEIRO,PE,NaN,"351,3545","334,6233333","1338,49",225,0

In [29]:
#Convertendo String para Float com duas casas decimais

# Crie uma cópia do DataFrame original
meus_dados_copia = meus_dados.copy()

# Lista das colunas que você deseja converter
colunas_para_converter = ['Salario', 'FGTS', '13Sal', 'Ferias']

# Loop através das colunas e substitua vírgulas por pontos
for coluna in colunas_para_converter:
    meus_dados_copia[coluna] = meus_dados_copia[coluna].str.replace(',', '.', regex=True)

# Converter as colunas para float
meus_dados_copia[colunas_para_converter] = meus_dados_copia[colunas_para_converter].astype(float)

# Arredonde as colunas de tipo float para duas casas decimais
colunas_float = meus_dados_copia.select_dtypes(include=['float'])
meus_dados_copia[colunas_float.columns] = colunas_float.round(2)

In [26]:
meus_dados_copia.info()
meus_dados_copia.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nome         49969 non-null  object
 1   Nascimento   49970 non-null  object
 2   Salario      49972 non-null  float64
 3   Filhos       49978 non-null  object
 4   Ativo        49976 non-null  object
 5   UF           49971 non-null  object
 6   email        49964 non-null  object
 7   FGTS         49972 non-null  float64
 8   13Sal        49972 non-null  float64
 9   Ferias       49972 non-null  float64
 10  CestaBasica  49978 non-null  object
 11  AjudaCusto   50000 non-null  object
dtypes: float64(4), object(8)
memory usage: 4.6+ MB

,Nome,Nascimento,Salario,Filhos,Ativo,UF,email,FGTS,13Sal,Ferias,CestaBasica,AjudaCusto
0,Zacarias Vieira,30/04/1967,6873.72,2,VERDADEIRO,MS,sem email,601.45,572.81,2291.24,450,0
1,Ana da Gomes,08/08/1966,10744.10,5,VERDADEIRO,MG,sem email,940.11,895.34,3581.37,1125,0
2,Bruno Cardoso Filha,04/12/1989,14647.70,3,VERDADEIRO,BA,nÆo confirmado,1281.67,1220.64,4882.57,675,0
3,JoÆo Martins,22/05/1953,7819.52,5,FALSO,RN,sem email,684.21,651.63,2606.51,1125,0
4,Carla Martins,19/05/1984,17444.58,0,FALSO,PE,sem email,1526.40,1453.72,5814.86,225,0

In [27]:
#Exportando os valores Nulo
# Especifique o nome do arquivo Excel de saída 
nome_arquivo_excel = 'dados_nulos.xlsx'

# Use o método to_excel() para exportar os dados para o arquivo Excel
dados_nan.to_excel(nome_arquivo_excel, index=False)

In [30]:
#excluindo os registros NaN do DataFrame
indices_para_remover = dados_nan.index
meus_dados_sem_nulos = meus_dados_copia.drop(indices_para_remover)

meus_dados_sem_nulos.head(50)
meus_dados_sem_nulos.isnull().sum()

Nome           0
Nascimento     0
Salario        0
Filhos         0
Ativo          0
UF             0
email          0
FGTS           0
13Sal          0
Ferias         0
CestaBasica    0
AjudaCusto     0
dtype: int64

In [31]:
#Identificando caracteres fora do padrão

meus_dados_copia2 = meus_dados_copia.copy()

# Especifique a coluna em que deseja verificar os caracteres fora do padrão
colunas_verificar = ['Nome', 'Nascimento', 'Filhos', 'Ativo', 'UF', 'email', 'CestaBasica','AjudaCusto']


# Use uma expressão regular para identificar caracteres fora do padrão (letras e números)
padrao = r'[^a-zA-Z0-9]'  # Esta expressão regular corresponde a qualquer coisa que não seja letra ou número

registros_fora_do_padrao = pd.DataFrame()  # DataFrame vazio para armazenar os registros fora do padrão
for coluna in colunas_verificar:
    mascara = meus_dados_copia2[coluna].str.contains(padrao, regex=True, na=False)
    registros_com_problema = meus_dados_copia2[mascara]
    registros_fora_do_padrao = pd.concat([registros_fora_do_padrao, registros_com_problema])
print(registros_fora_do_padrao)

                          Nome  Nascimento   Salario Filhos       Ativo  UF  \
0            Zacarias  Vieira   30/04/1967   6873.72      2  VERDADEIRO  MS
1                Ana da Gomes   08/08/1966  10744.10      5  VERDADEIRO  MG
2         Bruno  Cardoso Filha  04/12/1989  14647.70      3  VERDADEIRO  BA
3               JoÆo  Martins   22/05/1953   7819.52      5       FALSO  RN
4              Carla  Martins   19/05/1984  17444.58      0       FALSO  PE
...                        ...         ...       ...    ...         ...  ..
49992      Eduardo  Fernandes   08/09/1987   4296.58      5       FALSO  MA
49993       Esther  Gon‡alves   31/01/1962  11228.63      5       FALSO  AM
49995  Marcius das Cavalcanti   20/07/1967  17814.37      5  VERDADEIRO  RJ
49998    Fernando  Ramos Filha  09/09/1971  13120.24      0  VERDADEIRO  DF
49999          Irene da Pinto   16/02/2000  10096.82      0       FALSO  TO

                email     FGTS    13Sal   Ferias CestaBasica AjudaCusto
0           sem email   601.45   572.81  2291.24         450          0
1           sem email   940.11   895.34  3581.37        1125          0
2      nÆo confirmado  1281.67  1220.64  4882.57         675          0
3           sem email   684.21   651.63  2606.51        1125          0
4           sem email  1526.40  1453.72  5814.86         225          0
...               ...      ...      ...      ...         ...        ...
49992       sem email   375.95   358.05  1432.19        1125          0
49993  nÆo confirmado   982.51   935.72  3742.88        1125          0
49995       sem email  1558.76  1484.53  5938.12        1125          0
49998       sem email  1148.02  1093.35  4373.41         225          0
49999       sem email   883.47   841.40  3365.61         225          0

[134691 rows x 12 columns]

In [32]:
# Tratando os caracteres fora do padrão
substituicoes = {
    'Æ': 'ã',
    '‡': 'ç',
    '£': 'ú'
}

for coluna in meus_dados_copia2.columns:
    if meus_dados_copia2[coluna].dtype == 'object':  # Verifique se a coluna contém dados de objeto (string)
        for antigo, novo in substituicoes.items():
            meus_dados_copia2[coluna] = meus_dados_copia2[coluna].str.replace(antigo, novo)
meus_dados_copia2.head()

,Nome,Nascimento,Salario,Filhos,Ativo,UF,email,FGTS,13Sal,Ferias,CestaBasica,AjudaCusto
0,Zacarias Vieira,30/04/1967,6873.72,2,VERDADEIRO,MS,sem email,601.45,572.81,2291.24,450,0
1,Ana da Gomes,08/08/1966,10744.10,5,VERDADEIRO,MG,sem email,940.11,895.34,3581.37,1125,0
2,Bruno Cardoso Filha,04/12/1989,14647.70,3,VERDADEIRO,BA,não confirmado,1281.67,1220.64,4882.57,675,0
3,João Martins,22/05/1953,7819.52,5,FALSO,RN,sem email,684.21,651.63,2606.51,1125,0
4,Carla Martins,19/05/1984,17444.58,0,FALSO,PE,sem email,1526.40,1453.72,5814.86,225,0

In [33]:
# Especifique o caminho do arquivo Excel de saída
caminho_arquivo_excel = 'meus_dados_copia2.xlsx'

# Use o método to_excel() para exportar o DataFrame para um arquivo Excel
meus_dados_copia2.to_excel(caminho_arquivo_excel, index=False)